In [7]:
#dependencies
import pandas as pd

In [8]:
#Save paths to both csvs (located in the same folder)
measurements_csv = "hawaii_measurements.csv"
stations_csv = "hawaii_stations.csv"

In [9]:
#Read measurements csv using pandas
measurements_df = pd.read_csv(measurements_csv)

In [26]:
#I only want valid prcp data
clean_prcp_df=measurements_df.drop(columns=['tobs'])
clean_prcp_df=clean_prcp_df.dropna(how="any")
clean_prcp_df.head()

       station        date  prcp
0  USC00519397  2010-01-01  0.08
1  USC00519397  2010-01-02  0.00
2  USC00519397  2010-01-03  0.00
3  USC00519397  2010-01-04  0.00
5  USC00519397  2010-01-07  0.06

In [28]:
#However, I want to keep all of the available temp obs data
clean_tobs_df=measurements_df.drop(columns=['prcp'])
clean_tobs_df=clean_tobs_df.dropna(how="any")
clean_tobs_df.head()

       station        date  tobs
0  USC00519397  2010-01-01    65
1  USC00519397  2010-01-02    63
2  USC00519397  2010-01-03    74
3  USC00519397  2010-01-04    76
4  USC00519397  2010-01-06    73

In [31]:
#Read stations csv (There are no n/as to clean)
clean_stations_df = pd.read_csv(stations_csv)

In [32]:
clean_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [34]:
#Ouput all dfs to csvs
clean_prcp_df.to_csv("clean_prcp.csv", encoding = "utf-8", index=False, header=True)
clean_tobs_df.to_csv("clean_tobs.csv", encoding = "utf-8", index=False, header=True)
clean_stations_df.to_csv("clean_stations.csv", encoding = "utf-8", index=False, header=True)